<!-- Define a function to render each Message -->
<% function renderMessage(message) { %>
    <li>
      <strong>Sender:</strong> <%= message.sender %><br />
      <strong>Recipient:</strong> <%= message.recipient %><br />
      <strong>content:</strong> <%= message.content %><br />
      
    </li>
    <% } %>
    
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Messages</title>
        <link rel="stylesheet" href="/styles.css">
      </head>
      <body>
        <h1>Messages List</h1>
        <ul>
          <% if (messages.length > 0) { %>
          <!-- Call the renderMessage function for each message -->
          <% messages.forEach(renderMessage); %> <% } else { %>
          <li>No messages found.</li>
          <% } %>
        </ul>
      </body>
    </html>